@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
@model ManagemAntsClient.Models.DashboardPage

<div>
    <nav class="navbar py-0 bg-blue shadow">
        <a class="navbar-brand text-white">Accueil</a>
        <span class="navbar-text text-white">Tableau de bord</span>
        <span class="navbar-text text-white">
            @using (Html.BeginForm("logout", "connexion", FormMethod.Post))
            {
                <button class="btn btn-danger btn-sm mr-2">Deconnexion</button>
            }
                @Model.LoggedUser.pseudo
            </span>
    </nav>
    <div class="container-fluid">
        <div class="row  no-gutters justify-content-around">
            <div class="col-3 shadow bg-lightgray p-2 m-3 column">
                <div class="text-center">
                    <h3>Liste des projets</h3>
                </div>
                @using (Html.BeginForm("Research", "Dashboard", FormMethod.Post))
                {
                <div class="ml-3 mr-3 mb-3">
                    <div class="row pt-2">
                        <div class="col-lg">
                            <input name="search" class="w-100" placeholder="Nom de projet" value="@Model.search" autocomplete="off" />
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-secondary">Rechercher</button>
                        </div>
                    </div>
                </div>
                }
                <div class="overflow-auto project-container">
                    @foreach (var project in Model.Projects.projects)
                    {
                        <a href='@Url.Action("Index", "Project", new { projectId = project.id })'>
                            <div class="ml-3 mr-3 mb-3">
                                <div class="row bg-dark text-white rounded mb-2 p-2">@project.name</div>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="col-5 shadow bg-lightgray p-2 m-3 ml-4 mr-4">
                <div class="text-center">
                    <h3>Statistiques</h3>
                </div>
            </div>
            <div class="col-3 shadow bg-lightgray p-2 m-3" style="height:100%">

                @using (Html.BeginForm("AddProject", "Dashboard", new { ownerId = Model.LoggedUser.id.ToString() }, FormMethod.Post))
                {
                    <div class="text-center">
                        <h3>Creer un projet</h3>
                    </div>
                    <div>
                        <h4>Nom</h4>
                        <div class="md-form">
                            <input id="addProjectName" value="@Model.projectName" type="text" name="name" class="form-control" placeholder="Nom du projet" autocomplete="off">
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4>Description</h4>
                        <textarea id="addProjectDescription" class="form-control" name="description" style="height:150px" placeholder="Description...">@Model.projectDescription</textarea>
                    </div>
                    <div class="mt-4 mb-3 text-center">
                        <button type="submit" class="btn btn-lg btn-success">
                            Valider
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>