@model ManagemAntsClient.Models.Task
<div id="taskInfoModal-@(Model.id)" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tache</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="TaskName" class="row mb-3">
                    <div class="col-4 font-weight-bold">Nom de la tache :</div>
                    <div class="col-8">@Model.name</div>
                </div>
                <div id="TaskDescritpion" class="mb-3">
                    <div class="mb-2 font-weight-bold">Description de la tache :</div>
                    <textarea class="form-control" disabled>@Model.description</textarea>
                </div>
                <div id="TaskTime" class="row mb-3">
                    <div class="col-4 font-weight-bold">Durée (heures) :</div>
                    <div class="col-8">@Model.timeSpent</div>
                </div>
                <div id="TaskState" class="row mb-3">
                    <div class="col-4 font-weight-bold">Etat de la tache :</div>
                    <div class="col-8">@Model.getState()</div>
                </div>
                <div id="TaskCollaborators" class="mb-3">
                    <div class="font-weight-bold mb-2">Collaborators :</div>
                    Collabs
                </div>
            </div>
            <div class="modal-footer">
                <div class="m-auto">
                    <button type="button" class="btn btn-primary" onclick="onModifyClick(@Model.id)">Modifier</button>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_taskModifyModal" model="@Model" />
<script>
    function onModifyClick(id) {
        $(`#taskModifyModal`).modal("show");
        $(`#taskInfoModal-${id}`).modal("hide");
    }
</script>