@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
@model ManagemAntsClient.Models.ProjectPage


<div>
    <nav class="navbar py-0 bg-blue shadow">
        <a href="@Url.Action("Index", "Dashboard")" class="navbar-brand text-white">Accueil</a>
        <span class="navbar-text text-white">@Model.Project.name</span>
        <span class="navbar-text text-white">
          <button class="btn btn-danger btn-sm mr-2">Deconnexion</button>
               @Model.LoggedUser.pseudo
        </span>
    </nav>
    <div class="row no-gutters">
        <div class="col-7 shadow bg-lightgray p-2 m-3">
            <div class="row mt-2">
                <div class="col-3 align-self-center">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                        </a>

                        <div class="dropdown-menu" id="taskFilters" belaria-laledby="dropdownMenuLink">
                            <a class="dropdown-item" >A faire</a>
                            <a class="dropdown-item" >En cours</a>
                            <a class="dropdown-item" >Fait</a>
                            <a class="dropdown-item" >Rendu</a>
                            <a class="dropdown-item">Pas de filtre</a>
                        </div>
                    </div>
                </div>
                <div class="col-5 text-center"><h3>Todo List</h3></div>
                <div class="col-4 text-right align-self-center">
                    <button onclick="openTaskAdd()" class="btn btn-secondary btn-sm text-sm-center ">Ajouter une tache</button>
                </div>
            </div>
            <div class="p-3">
                @foreach (var task in Model.Tasks)
                {
                    <div class="row bg-dark rounded mb-2 p-2" >
                        <div class="col-auto mr-auto text-white align-self-center pl-1">
                            <button class="btn btn-sm btn-secondary mr-1 bg-transparent border-0" >
                                <img class="white-img " src="~/img/edit-solid.svg" onclick="openTaskInfos(@task.id)"/>
                            </button>
                            
                            @task.name
                        </div>
                        <div class="col-auto pr-1 d-flex">
                            @if (task.state == 0)
                            {
                                <button class="btn btn-danger btn-sm" disabled>Retour</button>
                            }
                            else
                            {
                                @using (Html.BeginForm("BackStateTask", "Project", task, FormMethod.Post))
                                {
                                    <input type="hidden" name="projectId" value="@Model.Project.id" />
                                    <button class="btn btn-danger btn-sm">Retour</button>
                                }
                            }
                            <button class="btn btn-secondary btn-sm ml-2 mr-2" disabled>@task.getState()</button>
                            @if (task.state == 3)
                            {
                                <button class="btn btn-success btn-sm" disabled>Suivant</button>
                            }
                            else
                            {
                                @using (Html.BeginForm("NextStateTask", "Project", task, FormMethod.Post))
                                {
                                    <input type="hidden" name="projectId" value="@Model.Project.id" />
                                    <button class="btn btn-success btn-sm" name="suivant">Suivant</button>
                                }
                            }
                        </div>
                    </div>
                    <partial name="_taskInfoModal" model="@task" />
                }
                <div class="row justify-content-center">
                    <button onclick="openTaskAdd()" class="btn btn-secondary btn-sm">+</button>
                </div>
            </div>
        </div>
        <div class="col-4 m-3">
            <div class="shadow mb-4"></div>
            <button class="btn btn-secondary btn-lg">Statistiques</button>
        </div>


    </div>
</div>
<partial name="_taskAddModal"/>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    let searchParams = new URLSearchParams(window.location.search)
    let filter = searchParams.get("filter");
    if (filter == null)
        filter = "Filtre...";
    $("#dropdownMenuLink").text(filter);

    function openTaskInfos(id) {
        $(`#taskInfoModal-${id}`).modal("show");
    }


    function openTaskAdd() {
        $("#taskAddModal").modal("show");
    }


    $(document).ready(
        function () {
            $('#taskFilters a').on('click', function () {
                var filterval = $(this).text();
                var clearurl = document.location.href.split("&")[0];
                var url = clearurl + "&filter=" + filterval;
                document.location = url;
            }
            )
        });




   
</script>